.form {
	overflow-y: scroll;
	max-height: 100%;

	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: end;
	font-size: 12px;
}

.title {
	text-align: center;
	font-size: 18px;
}

.full {
	grid-column: 1 / -1;
	padding: 4px 0 0;
	margin-bottom: 12px;
}

.summary {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 4px 8px 4px;
}

.summary:empty {
	display: none;
}

.summary .icon {
	font-size: 16px;
	flex: 0 0 auto;
}

.summary p {
	display: flex;
	gap: 4px;
	align-items: center;
}

.error {
	color: var(--palette-secondary);
}

.submit {
	margin-bottom: 32px;
	grid-column: 1 / -1;
	justify-self: center;
	box-shadow: inset 0 0 0 1px currentColor;
	position: relative;
}

.submit,
.submit .progress {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	border-radius: 4px;
	padding: 16px 32px;
}

.submit .progress {
	position: absolute;
	inset: 0;
	color: var(--palette-bg-main);
	background-color: var(--palette-primary);
	clip-path: inset(0 calc(100% - var(--progress) * 100%) 0 0);
	transition: clip-path 100ms linear;
}

.submit .icon {
	font-size: 20px;
}

.label {
	padding: 4px 8px 4px;
}

.input {
	padding: 4px 8px 4px 0;
}