.main {
	--progress: 0;
	position: relative;
	user-select: none;
	perspective: 100px;
	transform-style: preserve-3d;
}

.main::before {
	content: "";
	position: absolute;
	inset: 0;
	background: currentColor;
	opacity: calc(var(--progress));
	filter: blur(20vmin);
	transform: scale(calc(1 + 0.1 * var(--progress)));
	will-change: transform, opacity;
}

.button {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	border-radius: 4px;
	border: 1px solid currentColor;
	padding: 16px 32px;
	will-change: transform;
	transform:
		rotate(calc(2deg * var(--progress)))
		rotateY(calc(8deg * var(--progress)))
		scale(calc(1 - 0.1 * var(--progress)));
}

.fall .button {
	transition:
		transform 850ms ease-in,
		opacity 850ms ease-in;
	transform:
		rotate(10deg)
		rotateY(40deg)
		scale(0.3);
	opacity: 0;
}

.icon {
	font-size: 20px;
}