.wrapper {
	width: 100%;
	height: min-content;
	overflow: scroll hidden;
	scroll-snap-type: x mandatory;
}

.main {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	gap: 8px;
	padding: 0 calc((100vw - 4 * 8px) / 6 + 8px) 0 8px;
	width: fit-content;
}

.item:nth-child(3n + 1) {
	scroll-snap-stop: normal;
	scroll-snap-align: center;
}
.item:nth-child(3n + 2) {
	transform: translateX(50%);
}

.button {
	width: calc((100vw - 4 * 8px) / 3);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
}

.img {
	position: relative;
	width: 100%;
	height: calc((100vw - 4 * 8px) / 3);
	border-radius: 50%;
	overflow: hidden;
}
.img img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: bottom;
}
.cutout {
	border-radius: 0;
}

.span {
	display: block;
	font-size: 8px;
	margin: auto;
	width: 80%;
	text-align: center;
}
.empty {
	width: 100%;
	height: calc((100vw - 4 * 8px) / 3);
	border-radius: 50%;
	padding: 10%;
	border: 1px solid currentColor;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
}