.wrapper {
	width: 100%;
	height: min-content;
	overflow: scroll hidden;
	scroll-snap-type: x mandatory;
}
.wrapper::-webkit-scrollbar {
	display: none;
}

.main {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	gap: 8px;
	padding: 0 calc((100vw - 4 * 8px) / 6 + 8px) 0 8px;
	width: fit-content;
}

.item:nth-child(3n + 1) {
	scroll-snap-stop: normal;
	scroll-snap-align: center;
}
.item:nth-child(3n + 2) {
	transform: translateX(calc(50% + 4px));
}

.button {
	width: calc((100vw - 4 * 8px) / 3);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 4px;
}

.img {
	position: relative;
	width: 100%;
	height: calc((100vw - 4 * 8px) / 3);
	border-radius: 50%;
	overflow: hidden;
}
.img img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cutout {
	border-radius: 0;
}
.cutout img {
	object-fit: contain;
	object-position: bottom;
}

.span {
	display: flex;
	font-size: 8px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	flex-direction: column;
}
.empty {
	width: 100%;
	height: calc((100vw - 4 * 8px) / 3);
	border-radius: 50%;
	padding: 10%;
	border: 1px solid var(--palette-bg-gradient);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
}
.name {
	font-size: 10px;
}
.name:not(:last-child) {
	margin-bottom: 2px;
}