.main {

}
.item {
	width: 100%;
}

.wrapper {
	position: relative;
	z-index: 0;
	border-top: 1px solid var(--palette-bg-gradient);
	--x: 0px;
}
.wrapper::before,
.wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--palette-primary);
	transform: translateX(var(--x));
}
.wrapper::before {
	right: 100%;
}
.wrapper::after {
	left: 100%;
}

.drag {
	position: relative;
	--y: 0px;
	--bg-y: 0;
}
.drag::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--palette-primary);
	transform: translateY(calc(var(--bg-y) * 100%));
}
.drag .wrapper {
	transform: translateY(var(--y));
	background-color: var(--palette-bg-main);
	z-index: 1;
	box-shadow: 0 0 6px var(--palette-secondary);
}
.slide {
	transform: translateY(100%);
}
.drag ~ .slide {
	transform: translateY(-100%);
}

.fav {
	color: var(--palette-bg-gradient);
	position: absolute;
	z-index: 1;
	width: 64px;
	height: 56px;
	top: 50%;
	right: 0;
	padding: 8px 16px;
	translate: 0 -50%;
	clip-path: inset(0 0 0 calc(100% + var(--x)));
}
.liked .fav {
	clip-path: inset(0);
	color: var(--palette-secondary);
}

.playlist {
	color: var(--palette-bg-gradient);
	position: absolute;
	z-index: 1;
	width: 64px;
	height: 56px;
	top: 50%;
	left: 0;
	padding: 8px 16px;
	translate: 0 -50%;
	clip-path: inset(0 calc(100% - var(--x)) 0 0);

	display: grid;
}
.playlist .add,
.playlist .next {
	grid-area: 1 / 1;
	width: 32px;
	height: 42px;
}
.playlist .add {
	opacity: 0;
}
.switch-left .playlist .next {
	opacity: 0;
}
.switch-left .playlist .add {
	opacity: 1;
}


.will::after,
.will::before,
.will .fav,
.will .playlist,
.will .button {
	will-change: transform, color, opacity;
}

.like-anim::after,
.like-anim .button {
	animation: like-slide 750ms ease-out forwards;
}
.like-anim .fav {
	animation: like-jump 750ms ease-in forwards;
}
@keyframes like-slide {
	0%       { transform: translateX(var(--x)); }
	40%      { transform: translateX(-24px); }
	90%,100% { transform: translateX(0); }
}
@keyframes like-jump {
	0%   { color: var(--palette-bg-gradient); scale: 1; }
	10%  { color: var(--palette-bg-gradient); scale: 1 0.8; }
	30%  { color: var(--palette-bg-gradient); scale: 1.8; }
	80%  { color: var(--palette-secondary); scale: 2.1 2.3; }
	87%  { color: var(--palette-secondary); scale: 1 1; }
	93%  { color: var(--palette-secondary); scale: 1.1 0.8; }
	100% { color: var(--palette-secondary); scale: 1; }
}
.liked.like-anim::after,
.liked.like-anim .button {
	animation: dislike-slide 750ms ease-out forwards;
}
.liked.like-anim .fav {
	animation: dislike-fall 750ms ease-in forwards;
}
@keyframes dislike-slide {
	0%   { transform: translateX(var(--x)); }
	50%  { transform: translateX(-48px); }
	100% { transform: translateX(0); }
}
@keyframes dislike-fall {
	0%       { color: var(--palette-secondary); scale: 1; }
	5%       { color: var(--palette-secondary); scale: 1.1; }
	50%      { color: var(--palette-bg-gradient); scale: 0.5; opacity: 0.2; }
	70%,100% { color: var(--palette-bg-gradient); scale: 0.2; opacity: 0; }
}

.reset-anim::before,
.reset-anim::after,
.reset-anim .button {
	animation: reset-slide 300ms ease-out forwards;
}
.reset-anim:not(.liked) .fav {
	animation: reset-clip-right 300ms ease-out forwards;
}
.reset-anim .playlist {
	animation: reset-clip-left 300ms ease-out forwards;
}
@keyframes reset-slide {
	0%   { transform: translateX(var(--x)); }
	100% { transform: translateX(0); }
}
@keyframes reset-clip-right {
	0%   { clip-path: inset(0 0 0 calc(100% + var(--x))); }
	100% { clip-path: inset(0 0 0 100%); }
}
@keyframes reset-clip-left {
	0%   { clip-path: inset(0 calc(100% - var(--x)) 0); }
	100% { clip-path: inset(0 100% 0 0); }
}

.switch-left .playlist {
	animation: switch 500ms ease;
}
.switch-left .playlist .next {
	animation: switch-hide 500ms ease;
}
.switch-left .playlist .add {
	animation: switch-show 500ms ease;
}
@keyframes switch {
	0%   { transform: scale(1); }
	35%  { transform: scale(1.35); }
	50%  { transform: scaleX(1.6) scaleY(1.1); }
	65%  { transform: scaleX(1.25) scaleY(1.4); }
	90%  { transform: scale(0.9); }
	100% { transform: scale(1); }
}
@keyframes switch-hide {
	0%, 35%   { opacity: 1; }
	65%, 100% { opacity: 0; }
}
@keyframes switch-show {
	0%, 35%   { opacity: 0; }
	65%, 100% { opacity: 1; }
}

.add-anim .button,
.add-anim::before,
.add-anim::after {
	animation: add-anim-body 700ms ease-in-out forwards;
}
.add-anim .playlist,
.add-anim .fav {
	animation: add-anim-icon 700ms ease-in-out forwards;
}
.liked.add-anim .fav {
	animation: add-anim-icon-liked 700ms ease-in-out forwards;
}
@keyframes add-anim-body {
	0%      { transform: translateX(var(--x)); }
	50%     { transform: translateX(100vw); }
	50.001% { transform: translateX(-100vw); }
	100%    { transform: translateX(0); }
}
@keyframes add-anim-icon {
	0%  { transform: translateX(0); opacity: 1; }
	50% { transform: translateX(100vw); opacity: 0; }
	50.001%, 100% { opacity: 0; }
}
@keyframes add-anim-icon-liked {
	0%      { transform: translateX(0); }
	50%     { transform: translateX(100vw); }
	50.001% { transform: translateX(-100vw); }
	100%    { transform: translateX(0); }
}

.remove-anim .button,
.remove-anim::before,
.remove-anim::after {
	animation: remove-anim-body 700ms ease-in-out forwards;
}
.remove-anim .playlist,
.remove-anim .fav {
	animation: remove-anim-icon 700ms ease-in-out forwards;
}
.liked.remove-anim .fav {
	animation: remove-anim-icon-liked 700ms ease-in-out forwards;
}
@keyframes remove-anim-body {
	0%      { transform: translateX(var(--x)); height: var(--height); padding: 8px; }
	50%     { transform: translateX(100vw);    height: var(--height); padding: 8px; }
	50.001% { transform: translateX(100vw);    height: var(--height); padding: 0; }
	100%    { transform: translateX(100vw);    height: 0px;           padding: 0; }
}
@keyframes remove-anim-icon {
	0%        { transform: translateX(0); opacity: 1; }
	50%, 100% { transform: translateX(100vw); opacity: 0; }
}
@keyframes remove-anim-icon-liked {
	0%        { transform: translateX(0); }
	50%, 100% { transform: translateX(100vw); }
}


.button {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 8px;
	transform: translateX(var(--x));
	user-select: none;
	color: var(--palette-primary);
	touch-action: pan-x pan-y;
}
.draggable .button {
	padding-left: 4px;
}
.empty::before {
	content: "";
	display: block;
	width: 48px;
	height: 48px;
	background-color: var(--palette-secondary);
	flex-shrink: 0;
}
.img {
	position: relative;
	width: 48px;
	height: 48px;
	overflow: hidden;
	flex-shrink: 0;
}
.img img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.handle {
	font-size: 28px;
	flex-shrink: 0;
	height: 48px;
	padding: 0 4px;
	margin: 0 -4px;
	order: -1;
}

.play {
	font-size: 32px;
	color: var(--palette-primary);
	position: absolute;
	left: calc(8px);
	top: calc(8px);
	height: 48px;
	width: 48px;
	background-color: hsl(0, 0%, 0%, 0.6);
	color: hsl(0, 0%, 75%, 0.8);
	mix-blend-mode: luminosity;
	display: flex;
	justify-content: center;
	align-items: center;
}

.draggable .play {
	left: calc(4px + 20px + 4px);
}

.span {
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	font-size: 8px;
	gap: 2px;
	padding: 4px;
	padding-right: 50px;
	text-align: left;
	flex-direction: column;
}
.draggable .span {
	padding-right: 42px;
}
.name {
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}