.img {
	display: block;
	width: 100vw;
	max-width: 500px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	position: relative;
	z-index: 1;
	transform-origin: center top 0;
	transform: translateZ(-1px) scale(2);
	top: calc(-50% - 10px);
}
.img:not([src]),
.img[src=""] {
	visibility: hidden;
}
