.main {
	display: grid;
	position: relative;
	z-index: 1;
	transform-origin: center top 0;
	transform: translateZ(-1px) scale(2);
	top: calc(-50% - 10px);
}
.img {
	min-width: 100vw;
	min-height: 100vw;
	max-width: 500px;
	max-height: 500px;
	object-fit: cover;
	grid-area: 1 / 1 / 1 / 1;
	width: 100%;
	height: 100%;
	position: relative;
}
.img:not([src]),
.img[src=""] {
	visibility: hidden;
}

.details {
	background-color: var(--palette-bg-main);
	padding: 8px;
	font-size: 10px;
}

.count-2 .img:nth-child(2) {
	clip-path: polygon(0 0, 70% 0, 30% 100%, 0 100%);
}

.count-3 .img:nth-child(2) {
	clip-path: polygon(33.33% 0%, 66.66% 0, 0 100%, -33.33% 100%);
}
.count-3 .img:nth-child(3) {
	clip-path: polygon(100% 0, 133.33% 0, 66.66% 100%, 33.33% 100%);
}

.count-4 .img:nth-child(2) {
	clip-path: polygon(50% 50%, 0 75%, 0 0, 25% 0);
}
.count-4 .img:nth-child(3) {
	clip-path: polygon(50% 50%, 75% 100%, 0 100%, 0 75%);
}
.count-4 .img:nth-child(4) {
	clip-path: polygon(50% 50%, 100% 25%, 100% 100%, 75% 100%);
}

.count-5 .img {
	width: 50%;
	height: 50%;
}

.count-5 .img:nth-child(1) {
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
}
.count-5 .img:nth-child(2) {
	clip-path: polygon(100% 100%, 0% 100%, 0% 70%, 70% 0%, 100% 0%);
	left: 50%;
	top: 50%;
}
.count-5 .img:nth-child(3) {
	clip-path: polygon(0 0, 30% 0, 100% 70%, 100% 100%, 0 100%);
	top: 50%;
}
.count-5 .img:nth-child(4) {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 0 30%);
	left: 50%;
}
.count-5 .img:nth-child(5) {
	clip-path: polygon(0 0, 100% 0, 100% 30%, 30% 100%, 0 100%);
}

.count-6 .img {
	width: 50%;
	height: 50%;
}
.count-6 .img:nth-child(2) {
	top: 50%;
}
.count-6 .img:nth-child(3) {
	left: 50%;
}
.count-6 .img:nth-child(4) {
	top: 50%;
	left: 50%;
}
.count-6 .img:nth-child(5) {
	clip-path: polygon(0 100%, 50% 25%, 100% 100%);
	top: 33.33%;
	left: 16.66%;
	width: 66.66%;
	height: 66.66%;
}
.count-6 .img:nth-child(6) {
	clip-path: polygon(0 0, 50% 75%, 100% 0);
	left: 16.66%;
	width: 66.66%;
	height: 66.66%;
}