.img {
	display: block;
	width: 100vw;
	max-width: 500px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	z-index: 1;
	transform-origin: center bottom 0;
	transform: translateZ(-1px) scale(2);
	position: relative;
	top: -2em;
}
.img:not([src]),
.img[src=""] {
	visibility: hidden;
}