.list {}

.loading::before,
.loading::after {
	content: '';
	display: block;
	height: 96px;
	width: 100%;
	background-color: var(--palette-primary);
	opacity: 0.1;
	border-top: solid 1px var(--palette-bg-main);
	border-bottom: solid 1px var(--palette-bg-main);
}
.loading::after {
	border-top: 0;
}

.item {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	contain: strict;
}

.img {
	position: absolute !important;
	z-index: -1 !important;
	inset: 50% 0 !important;
	transform: translateY(-50%) !important;
	height: 100vw;
	width: 100vw;
}

.text {
	font-size: 8px;
	width: calc(100vw - 144px);

	color: hsl(0, 0%, 83%);
	mix-blend-mode: luminosity;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"title"
		"desc";
	gap: 4px;
}

.text::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: hsl(0, 0%, 0%, 0.45);
	z-index: -1;
}

.offline {
	width: calc(100vw - 116px);
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"icon title"
		"icon desc";
}

.icon {
	grid-area: icon;
	font-size: 20px;
	align-self: center;
}

.title {
	grid-area: title;
	font-size: 12px;
}

.desc {
	grid-area: desc;
	line-height: 1.4;
}