.main {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 8px;
	margin-bottom: 8px;
	width: 100%;
}
.empty::before {
	content: '';
	display: block;
	width: 56px;
	height: 56px;
	border-radius: 4px;
	background-color: var(--palette-secondary);
}

.selected {
	font-size: 28px;
	flex-shrink: 0;
	padding: 0 4px;
	margin: 0 -4px;
	order: -1;
}

.img {
	width: 56px;
	aspect-ratio: 1 / 1;
	border-radius: 4px;
	object-fit: cover;
}

.content {
	overflow: hidden;
	display: grid;
	gap: 4px;
	grid-template-areas:
		"name name"
		"icon info";
	grid-template-columns: auto 1fr;
	align-items: center;
}
.name {
	grid-area: name;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.icon {
	grid-area: icon;
	font-size: 14px;
	margin-top: -2px;
}
.info {
	grid-area: info;
	font-size: 10px;
}
.info:last-child {
	grid-column: 1 / 3;
}

.artist .img,
.artist::before {
	border-radius: 50%;
}

.list .img,
.list::before {
	box-shadow: -3px 1px 4px var(--palette-bg-main);
}
.list::after {
	content: '';
	display: block;
	width: 56px;
	height: 56px;
	border-radius: 4px;
	background-color: var(--palette-secondary);
	z-index: -1;
	position: absolute;
	transform: translate(-4px, 2px);
}

.selection.list::after {
	left: 36px;
}