.main {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 8px;
	margin-bottom: 8px;
	width: 100%;
}
.empty::before {
	content: '';
	display: block;
	width: 56px;
	height: 56px;
	border-radius: 4px;
	background-color: var(--palette-secondary);
}

.img {
	width: 56px;
	aspect-ratio: 1 / 1;
	border-radius: 4px;
	object-fit: cover;
}

.name {
	font-size: 14px;
}
.info {
	margin-top: 4px;
	font-size: 10px;
}