.main {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 8px;
	margin-bottom: 8px;
	width: 100%;
}
.empty::before {
	content: '';
	display: block;
	width: 56px;
	height: 56px;
	border-radius: 4px;
	background-color: var(--palette-secondary);
}

.img {
	width: 56px;
	aspect-ratio: 1 / 1;
	border-radius: 4px;
	object-fit: cover;
}

.content {
	overflow: hidden;
}
.name {
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.info {
	margin-top: 4px;
	font-size: 10px;
}

.artist .img,
.artist::before {
	border-radius: 50%;
}

.list .img,
.list::before {
	box-shadow: -3px 1px 4px var(--palette-bg-main);
}
.list::after {
	content: '';
	display: block;
	width: 56px;
	height: 56px;
	border-radius: 4px;
	background-color: var(--palette-secondary);
	z-index: -1;
	position: absolute;
	transform: translate(-4px, 2px);
}