.container {
	background: linear-gradient(180deg in lab, var(--palette-bg-gradient) -5%, var(--palette-bg-main) 50%);
	color: var(--palette-primary);
	height: 100%;
	display: grid;
	grid-template-rows:
		auto
		1fr
		auto;
	grid-template-areas:
		"head"
		"body"
		"foot";
	width: 100vw;
	overflow: hidden;

	perspective: 1000px;
	transform-style: preserve-3d;
}

.content {
	display: contents;
}