.panel {
	padding: 0 8px;
	display: flex;
	align-items: center;
	gap: 8px;
}
.editing {
	position: sticky;
	top: 100%;
	transform: translateY(calc(-100% + 21px));
	background: var(--palette-bg-main);
	z-index: 1;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: -20px;
	margin-top: -20px;
}
.details {
	flex: 1;
	font-size: 10px;
}

.action {
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-size: 8px;
	width: min-content;
	text-align: center;
	align-items: center;
	padding: 0 8px;
}
.action > svg {
	font-size: 24px;
}
