.head {
	grid-area: head;
	transition: transform 350ms, opacity 350ms;
	transform: translateX(calc(100vw - 20px - max(8px, env(safe-area-inset-right)) - max(8px, env(safe-area-inset-left))));
	pointer-events: none;
	opacity: 0;
	position: relative;
	z-index: var(--z, 1);
	background-color: var(--palette-bg-main);
}
.head[data-open="true"] {
	transform: translateX(0);
	pointer-events: auto;
	opacity: 1;
}

.head input {
	display: block;
	appearance: textfield;
	width: 100%;
	height: 100%;
	padding:
		max(12px, env(safe-area-inset-top))
		max(8px, env(safe-area-inset-right))
		12px
		calc(max(8px, env(safe-area-inset-left)) + 20px + 8px + 4px);
	font-size: 14px;
}
.head::after {
	content: '';
	position: absolute;
	left: calc(max(8px, env(safe-area-inset-left)) + 20px + 8px);
	bottom: 0;
	right: max(8px, env(safe-area-inset-right));
	height: 1px;
	background-color: var(--palette-secondary);
}


.results {
	grid-area: 2 / 1 / 4 / 2;
	z-index: var(--z, 2);
	transition: transform 350ms;
	transform: translateX(100vw);
	pointer-events: none;
	background: var(--palette-bg-main);

	overflow: hidden scroll;
	width: 100vw;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em 0;
	contain: strict;
}
.results[data-open="true"] {
	transform: translateX(0);
	pointer-events: auto;
}

.results button {
	cursor: pointer;
}

.sectionTitle {
	padding: 0 8px;
}
