.results {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	white-space: nowrap;
	gap: 1em;
}
.results:empty {
	display: none;
}

.results ul {
	padding: 0;
	margin: 0;
}
.results li {
	list-style: none;
}
.results button {
	cursor: pointer;
}

.basic {
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
}

.miniatures {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	gap: 4px;
}
.miniatures li {
	display: flex;
}
.miniatures button {
	border: 0;
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
}