.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 8px;
	padding: 0 8px;
}
.item {
	max-width: 60%;
}
.button {
	position: relative;
	width: 100%;
	display: flex;
	gap: 2px;
	border-radius: 4px;
	padding: 4px;
	padding-left: 6px;
	background-color: var(--palette-primary);
	color: var(--palette-bg-main);
}
.icon {
	font-size: 16px;
	flex-shrink: 0;
	align-self: center;
}
.span {
	position: relative;
	width: 100%;
	z-index: 1;
	display: flex;
	font-size: 8px;
	gap: 2px;
	flex-direction: column;
	padding: 4px;
}
.name {
	font-size: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}