.wrapper {
	width: 100%;
	height: min-content;
	z-index: 0;
}

.wrapper::-webkit-scrollbar {
	display: none;
}

.scrollable {
	overflow: scroll hidden;
	scroll-padding-left: 7px;
}

.main {
	display: flex;
	flex-wrap: wrap;
	column-gap: 6px;
	row-gap: 8px;
	padding: 0 8px 0 7px;
}

.scrollable .main {
	width: fit-content;
	flex-wrap: nowrap;
	column-gap: 0;
	padding: 0px;
}

.scrollable.loading .main {
	height: 36px;
}

.item {
	max-width: 60%;
	border-radius: 4px;
	overflow: hidden;
}

.scrollable .item {
	max-width: none;
	width: max-content;
	padding-right: 6px;
}

.button {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-areas: "left right";
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 2px;
	background-color: var(--palette-primary);
	color: var(--palette-bg-main);
	touch-action: pan-x pan-y;
	user-select: none;
	overflow: hidden;
}

.icon {
	grid-area: left;
	font-size: 16px;
	align-self: center;
	margin-left: 4px;
}

.span {
	grid-area: right;
	position: relative;
	width: 100%;
	z-index: 1;
	display: flex;
	font-size: 8px;
	gap: 2px;
	flex-direction: column;
	padding: 4px;
}

.name {
	font-size: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.artists {
	grid-area: left;
	display: grid;
	grid-template-columns: 36px;
	grid-template-columns: 36px repeat(var(--extra), 14px);
	height: 36px;
	margin-top: -2px;
	margin-bottom: -2px;
	margin-left: -2px;
	grid-auto-flow: column;
}

.cover {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	border: 2px solid var(--palette-primary);
}

.cover:not(:first-child) {
	position: relative;
	left: -20px;
}

.selection {
	grid-area: left;
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.selection::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--palette-primary);
	opacity: 0.7;
	z-index: -1;
}