.wrapper {
	width: 100%;
	height: min-content;
	z-index: 0;
}

.wrapper::-webkit-scrollbar {
	display: none;
}

.scrollable {
	overflow: scroll hidden;
	scroll-padding-left: 7px;
}

.main {
	display: flex;
	flex-wrap: wrap;
	column-gap: 6px;
	row-gap: 8px;
	padding: 0 8px 0 7px;
}

.main > :nth-child(1) { order: var(--item-order-1, 1); }
.main > :nth-child(2) { order: var(--item-order-2, 2); }
.main > :nth-child(3) { order: var(--item-order-3, 3); }
.main > :nth-child(4) { order: var(--item-order-4, 4); }
.main > :nth-child(5) { order: var(--item-order-5, 5); }
.main > :nth-child(6) { order: var(--item-order-6, 6); }
.main > :nth-child(7) { order: var(--item-order-7, 7); }
.main > :nth-child(8) { order: var(--item-order-8, 8); }
.main > :nth-child(9) { order: var(--item-order-9, 9); }
.main > :nth-child(10) { order: var(--item-order-10, 10); }
.main > :nth-child(11) { order: var(--item-order-11, 11); }
.main > :nth-child(12) { order: var(--item-order-12, 12); }
.main > :nth-child(13) { order: var(--item-order-13, 13); }
.main > :nth-child(14) { order: var(--item-order-14, 14); }
.main > :nth-child(15) { order: var(--item-order-15, 15); }

.scrollable .main {
	width: fit-content;
	flex-wrap: nowrap;
	column-gap: 0;
	padding-right: 0;
}
.scrollable.loading .main {
	height: 36px;
}

.loading .main::before,
.loading .main::after,
.main.loading::before,
.main.loading::after {
	content: "";
	height: 36px;
	width: 100px;
	border-radius: 4px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	margin-right: 6px;
	background-color: var(--palette-primary);
	opacity: 0.1;
}

.item {
	max-width: 60%;
	border-radius: 4px;
	overflow: hidden;
}

.scrollable .item {
	max-width: none;
	width: max-content;
	padding-right: 6px;
}

.button {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-areas: "left right";
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 2px;
	background-color: var(--palette-primary);
	color: var(--palette-bg-main);
	touch-action: pan-x pan-y;
	user-select: none;
	overflow: hidden;
}

.icon {
	grid-area: left;
	font-size: 16px;
	align-self: center;
}

.span {
	grid-area: right;
	position: relative;
	width: 100%;
	z-index: 1;
	display: flex;
	font-size: 8px;
	gap: 2px;
	flex-direction: column;
	padding: 4px;
}

.name {
	font-size: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.empty {
	grid-area: left;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.artists {
	grid-area: left;
	display: grid;
	grid-template-columns: 36px;
	grid-template-columns: 36px repeat(var(--extra), 14px);
	height: 36px;
	margin-top: -2px;
	margin-bottom: -2px;
	margin-left: -2px;
	grid-auto-flow: column;
}

.cover {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	border: 2px solid var(--palette-primary);
}

.cover:not(:first-child) {
	position: relative;
	left: -20px;
}

.selection {
	grid-area: left;
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 0px 8px;
}

.selection::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: var(--palette-primary);
	opacity: 0.7;
	z-index: -1;
}