.main {
	font-size: 12px;
	grid-area: foot;
	z-index: 1;
	gap: 1em;
	background: var(--palette-bg-main);
	width: 100vw;
	padding:
		10px
		max(10px, env(safe-area-inset-right))
		max(14px, env(safe-area-inset-bottom))
		max(10px, env(safe-area-inset-left));
	/* box-shadow: 0 0 8px var(--palette-bg-gradient); */
	border-top: 1px solid var(--palette-bg-gradient);

	display: grid;
	grid-template-areas:
		"time track duration"
		"info info  info"
		"ui   ui    ui";
	grid-template-columns: auto 1fr auto;
	color: var(--palette-primary);
}

.progress {
	grid-area: track;
}

.time {
	grid-area: time;
	text-align: left;
	font-variant: tabular-nums;
}

.duration {
	grid-area: duration;
	text-align: right;
	font-variant: tabular-nums;
}

.info {
	grid-area: info;
}

.ui {
	grid-area: ui;
	display: flex;
	justify-content: space-around;
	font-size: 20px;
}

.ui button {
	display: flex;
}

.ui button.enabled {
	position: relative;
	color: var(--palette-secondary);
}

.ui button.enabled::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background-color: currentColor;
	transform: translateX(-50%);
}