.main {
	white-space: nowrap;
}

.span {
	display: inline-block;
	min-width: 100%;
	text-align: center;
}

.sliding .span {
	animation: slide 30s linear infinite;
	text-align: left;
}

.sliding .span::before {
	content: " ";
	white-space: pre;
}

@keyframes slide {
	0%   { transform: translate(0); }
	100% { transform: translate(-100%); }
}